<%= javascript_include_tag "jquery.isotope" %>
<%= javascript_include_tag "home" %>

<div class="grid_4">
  <%= content_tag :section, :id => "body" do %>
    <%= @page.content_for(:body).html_safe %>
  <%  end %>

</div>

<div id="mosaic" class="loading" >
  <ul id="categories">
    <li class="category mosaic-item publi grid_4"><h3>publicidad y web</h3></li>
    <li class="category mosaic-item editorial grid_4"><h3>editorial</h3></li>
    <li class="category mosaic-item corporativo grid_4"><h3>diseño corporativo</h3></li>
  </ul>

  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "mosaic/corp/Balboa.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "mosaic/corp/ETWare.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "mosaic/corp/GrupoClave.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "mosaic/corp/GrupoSenande.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "mosaic/corp/GrupoSenande2.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "mosaic/corp/NorIntegra.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "mosaic/corp/Singrar.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "mosaic/corp/Soluciona.png" %>
  </div>
  
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "mosaic/editorial/CasaHab2.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "mosaic/editorial/CatAgendas.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "mosaic/editorial/Conferencias.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "mosaic/editorial/Discursos.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "mosaic/editorial/Dossier.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "mosaic/editorial/Náufragos.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "mosaic/editorial/VehiculosHisto_1.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "mosaic/editorial/recetasDisfrutar_1.png" %>
  </div>
  
</div>