<%= javascript_include_tag "jquery.isotope" %>
<%= javascript_include_tag "home-prod" %>

<div id="home_left_panel" class="grid_4">
  <%= content_tag :section, :id => "body" do %>
    <%= image_tag("/system/images/BAhbBlsHOgZmSSIsMjAxMi8wMS8yMy8yMy8xOS8wMC84NTQvVGV4dG9JbmljaW8ucG5nBjoGRVQ/TextoInicio.png") %>
  <%  end %>
  <div class="category_text_container corporativo">
    <h3>Creación y renovación de imagen corporativa, desde la papelería hasta la web</h3>
  </div>
  <div class="category_text_container editorial">
    <h3>Diseño y maquetación de contenidos en papel o digitales: folletos, revistas, libros, e-books, etc.</h3>
  </div>
  <div class="category_text_container publi">
    <h3>Campañas publicitarias,diseño de páginas web y apps para móviles</h3>
  </div>
  
</div>

<div id="mosaic" class="loading" >
  <ul id="categories">
    <li class="category mosaic-item publi grid_4"><h3>publicidad y web</h3></li>
    <li class="category mosaic-item editorial grid_4"><h3>editorial</h3></li>
    <li class="category mosaic-item corporativo grid_4"><h3>diseño corporativo</h3></li>
  </ul>

  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSInMjAxMi8wMS8xOS8xNC8wNC8xNy84ODcvQmFsYm9hLnBuZwY6BkVU/Balboa.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSInMjAxMi8wMS8xOS8xNC8wNy8xOC80OTYvRVRXYXJlLnBuZwY6BkVU/ETWare.png" %>
  </div>
  
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIqMjAxMi8wMS8xOS8xNC8wNS80Mi8zOTkvZGlzY1BhcmxhLnBuZwY6BkVU/discParla.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIqMjAxMi8wMS8xOS8xNC8wOS8xMC83Ni9HcnVwb0NsYXZlLnBuZwY6BkVU/GrupoClave.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSItMjAxMi8wMS8xOS8xNC8yOC81Mi8zNjcvR3J1cG9TZW5hbmRlLnBuZwY6BkVU/GrupoSenande.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIuMjAxMi8wMS8xOS8xNC8yOS81NS81MDcvR3J1cG9TZW5hbmRlMi5wbmcGOgZFVA/GrupoSenande2.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIrMjAxMi8wMS8xOS8xNC8zMC80My80MDEvTm9ySW50ZWdyYS5wbmcGOgZFVA/NorIntegra.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIoMjAxMi8wMS8xOS8xNC8zMS81MC85NzgvU2luZ3Jhci5wbmcGOgZFVA/Singrar.png" %>
  </div>
  <div class="mosaic-image mosaic-item corporativo">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIqMjAxMi8wMS8xOS8xNC8zMi8zNS80NjMvU29sdWNpb25hLnBuZwY6BkVU/Soluciona.png" %>
  </div>
  
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIpMjAxMi8wMS8yMC8xNy81My8wMy8yOTcvQ2FzYUhhYjIucG5nBjoGRVQ/CasaHab2.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIqMjAxMi8wMS8yMC8xNy81NC8wMC82Ni9DYXRBZ2VuZGFzLnBuZwY6BkVU/CatAgendas.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSItMjAxMi8wMS8yMC8xNy81NC80NC84NjUvQ29uZmVyZW5jaWFzLnBuZwY6BkVU/Conferencias.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIqMjAxMi8wMS8yMC8xNy81NS8xMi8zNDEvRGlzY3Vyc29zLnBuZwY6BkVU/Discursos.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIqMjAxMi8wMS8yMC8xNy81Ni8xNi8zNDYvTmF1ZnJhZ29zLnBuZwY6BkVU/Naufragos.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIyMjAxMi8wMS8yMC8xNy81Ni80OS81Mi9yZWNldGFzRGlzZnJ1dGFyXzEucG5nBjoGRVQ/recetasDisfrutar_1.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIrMjAxMi8wMS8yMC8xNy81Ny80MS8zNy9UZXJuZXJhMjBfMS5wbmcGOgZFVA/Ternera20_1.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIxMjAxMi8wMS8yMC8xNy81OC8yMy8yNDgvVmVoaWN1bG9zSGlzdG9fMS5wbmcGOgZFVA/VehiculosHisto_1.png" %>
  </div>
  <div class="mosaic-image mosaic-item editorial">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSItMjAxMi8wMS8yMy8yMi80MS80Ny8yNC9zYW50aWFnb3NpZXRlLnBuZwY6BkVU/santiagosiete.png" %>
  </div>
  <div class="mosaic-image mosaic-item publi">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIpMjAxMi8wMS8yMy8xMi8xMS8zMS83ODYvQ2FtcHNOb3IucG5nBjoGRVQ/CampsNor.png" %>
  </div>
  <div class="mosaic-image mosaic-item publi">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSInMjAxMi8wMS8yMy8xMi8xMy8zNi8yNTEvRVRXQXJlLnBuZwY6BkVU/ETWAre.png" %>
  </div>
  <div class="mosaic-image mosaic-item publi">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIyMjAxMi8wMS8yMy8xMi8xNC8wOC81MjcvZm9yb0liZXJvUnVzb19HYWwucG5nBjoGRVQ/foroIberoRuso_Gal.png" %>
  </div>
  <div class="mosaic-image mosaic-item publi">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIlMjAxMi8wMS8yMy8xMi8xNS8wMS84MjUvTmV3cy5wbmcGOgZFVA/News.png" %>
  </div>
  <div class="mosaic-image mosaic-item publi">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSImMjAxMi8wMS8yMy8xMi8xNS8zMy80NDkvTm9pdGUucG5nBjoGRVQ/Noite.png" %>
  </div>
  <div class="mosaic-image mosaic-item publi">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIoMjAxMi8wMS8yMC8xNy81NS80OS85NzAvRG9zc2llci5wbmcGOgZFVA/Dossier.png" %>
  </div>
  <div class="mosaic-image mosaic-item publi">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIvMjAxMi8wMS8yMy8xMi8xNi80MC84MjcvUHJlc2VudEdhbGljaWEucG5nBjoGRVQ/PresentGalicia.png" %>
  </div>
  <div class="mosaic-image mosaic-item publi">
    <%= image_tag "/system/images/BAhbBlsHOgZmSSIsMjAxMi8wMS8yMy8xMi8xNy8xNy80OS9WaWRlb0ZlaXJhY28ucG5nBjoGRVQ/VideoFeiraco.png" %>
  </div>
  
</div>