<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <%= stylesheet_link_tag 'screen.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>

  <body>
    <%= site_bar -%>
    <div id="page_container">
      <header>
        ETWare!
        <%= render :partial => "/shared/header" -%>
      </header>
      <section id='page'>
        <%= yield %>
      </section>
      <footer>
        <%= render :partial => "/shared/footer" -%>
      </footer>
    </div>
    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
