<!DOCTYPE html>
<%= render :partial => "/shared/html_tag" %>
  <% site_bar = render(:partial => "/shared/site_bar", :locals => {:head => true}) -%>
  <%= render :partial => "/shared/head" %>
  <%= stylesheet_link_tag 'reset.css', :media => 'screen, projection' %>
  <%= stylesheet_link_tag 'print.css', :media => 'print' %>
  <%#= stylesheet_link_tag 'reset.css' %>
  <%= stylesheet_link_tag 'text.css' %>
  <%= stylesheet_link_tag '960.css', :media => 'all'%>
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.7.1.min.js" %>
  <body <%= "class='main'" if params[:action] == 'home' %> >
    <%= site_bar -%>
    <div id="page_container" class="container_16">
      <header>
        <%= render :partial => "/shared/header" -%>
      </header>
      <section id='page'>
        <%= yield %>
      </section>
      <footer>
        <%= render :partial => "/shared/footer" -%>
      </footer>
    </div>
    <%= render :partial => "/shared/javascripts" %>
  </body>
</html>
